
*{
    font-family: "Montserrat", sans-serif;
}

body{
background-color: #24292e;

}



.nav-link{
    color:white!important;
}

.blackText{
    color:black!important;
}


.carousel-item{
    height:100vh;

}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.cardHomepageBg{
    background-image: url(https://picsum.photos/1500/800);
}

.card_homepage {
    border:none!important;
    background-color: rgba(255, 255, 255, 0);
}

.btn-read{
    background-color: #212529;
    border: 0;
}

.display-index{
    background-color: white!important;
}

.h1-index{
margin-top: 120px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.space {
    margin-top: 100px;
}


@media only screen 
  and (min-device-width: 150px) 
  and (max-device-width: 812px) 
   { 
    .carousel-item{
      height: 400px; /* Imposta un'altezza fissa per lo schermo dell'iPhone X */
    }
}

.sizeText{
    font-size: 6rem!important;
    position: relative;
    
    color: #ffffff;
    /* font-family: 'Gill Sans'!important; */
    text-shadow: -1px 0 #212529, 0 4px #212529, 3px 0 #212529, 0 -1px #212529;
}
