
*{
    font-family: "Montserrat", sans-serif;
}

body{
background-color: #f8f9fa;

}

.navbar-shadow {
    box-shadow: 0 3px 14px rgba(255, 255, 255, 0.5); /* Definizione dell'ombra */
  }

.colornav{
    background:#24292e;
  }


.nav-link{
    color:white!important;
}

/*bottone navbar cerca*/

.btn-warning-search{
  color:white;
  border-color: rgba(255, 200, 0, 0.7);
  background-color: rgba(255, 200, 0, 0.8);
}

.btn-warning-search:hover{
  background-color: rgba(255, 200, 0, 0.5);
  color: white;
  border-color: rgba(255, 200, 0, 0.8);
}


.blackText{
    color:black!important;
}


.carousel-item{
    height:auto;
    max-height: 700px;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.cardHomepageBg{
    background-image: url(/storage/app/public/images/26.jpg);
    background-size: cover;
    position: relative;
    
}



.card_homepage {
    border:none!important;
    background-color: rgba(255, 255, 255, 0);
}

.btn-read{
    background-color: #212529;
    border: 0;
}

.display-index{
    background-color: #24292e;
}

.h1-index{
margin-top: 100px;
font-family:'Courier New', Courier, monospace;
color: white;
}

.textcard2{
    margin-top: 100px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.space {
    margin-top: 100px;
}




/* CARD ORIZZONTALE NUOVA */


.container1 {
    width: 100%;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 30px;
    max-width: 1000px;
}

.dark {
	background: #f8f9fa;
}



a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */

.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #b5b3bd;
	}
	
	
	.t-dark {
		color: #18151f;
	}
	

/* CLASSI PERSONALI */

  .ss{
    font-size: 20px;
    color: #ffffff;
  }

  .redatt{
    font-size: 25px;
    
    color: #ffffff;
  }

  .sizeCategory{
    font-size: 20px;
    color: #ffffff;
  }

  .adm{
    color: #24292e;
    font-size: 30px;
  }

	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1px;
  }

  h6,	.h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1;
}

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(255, 200, 0);
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    margin: 20px 0 0 0;
	padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(255, 200, 0, 0.8);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}


.postcard .postcard__tagbox .blue.play:hover {
	background: #0076bd;
}
.blue .postcard__title:hover {
	color: #0076bd;
}
.blue .postcard__bar {
	background-color: #0076bd;
}
.blue::before {
	background-image: linear-gradient(-30deg, rgba(255, 255, 255, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

/* MEDIAQUERY */

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 600px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
            
			background:#b5b3bd;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

@media screen and (min-width: 769px) {



	.blue::before {
		background-image: linear-gradient(
			-80deg,
            
			rgba(0, 118, 189, 0.1),
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}

}

.sizeText{
    font-size: 6rem!important;
    position: relative;
    
    color: #ffffff;
    /* font-family: 'Gill Sans'!important; */
    text-shadow: -1px 0 #212529, 0 4px #212529, 3px 0 #212529, 0 -1px #212529;
}

.btn-login{
  background: rgba(255, 200, 0, 0.8);
}

.color-form{
  background:rgb(36, 41, 46)
}

.background-form{
  background: rgba(36, 41, 46, 0.2)
}

.textShadow{
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  font-size: 40px;
  color: #ffffff!important;
}



.th-hashtag{
  width: 20%!important;
}

.th-name{
  width: 30%!important;
}

.th-email{
  width: 30%!important;
}

.th-azione{
  width: 20%!important;
  text-align: center!important;
}

.th-hashtag-r{
  width: 10%!important;
}

.th-title-r{
  width: 30%!important;
}

.th-subtitle-r{
  width: 20%!important;
}

.th-redactor-r{
  width: 15%!important;
}

.th-azione-r{
  width: 25%;
  text-align: center;
}

.btn-success{
  background-color: rgb(53, 153, 53)!important;
  border-color: rgb(53, 153, 53)!important;
  
}

.btn-success:hover{
  background-color: rgba(53, 153, 53, 0.8)!important;
}

.card-h{
height:100%;

}